{% extends "network/layout.html" %}

{% block body %}
  {% if token and token == 1 and user.is_authenticated %}
    <h1>Following</h1>
    {% if posts %}
        {% for post in posts %}
        {% for i in post %}
          <p>
          <div class="card"> 
              <div class="card-body">
              <h5 class="card-title"><a href="{% url 'profile' i.user.username %}"><strong>{{ i.user.username }}</strong></a></h5>
                <p class="card-text">
                  <div>{{ i.text }}</div>
                  <div>{{ i.time }}</div>
                  <div>{{ i.likes }}</div>
              </p>
              </div>
            </div>
          </p>
          {% endfor %}
        {% endfor %}
    {% endif %}
  {% elif not user.is_authenticated and token == 1 %}
        <h1>You Must be signed in to view this page!</h1>
  
  {% else %}
  <h1>All Posts</h1>
    {% if posts %}
        {% for post in posts %}
        <p>
        <div class="card"> 
             <div class="card-body">
              <h5 class="card-title"><a href="{% url 'profile' post.user.username %}"><strong>{{ post.user.username }}</strong></a></h5>
              <p class="card-text">
                <div>{{ post.text }}</div>
                <div>{{ post.time }}</div>
                <div>{{ post.likes }}</div>
            </p>
            </div>
          </div>
        </p>
        {% endfor %}
  {% endif %}
  {% endif %}
{% endblock %}